* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #03032b;
    color: #fff;
}

h1 {
    width: 386px;
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
}

p {
    width: 520px;
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: 600;
}

h2 {
    width: 270px;
    margin: 50px auto 0;
    position: relative;
    text-align: center;
    font-weight: 700;
}

button {
    width: 125px;
    height: 50px;
    background: #040418;
    color: #fff;
    font-weight: 500;
    border: 2px solid #007eff;
    border-radius: 5px;
    cursor: pointer;
}

button:active {
    background: #007eff;
}

.button-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}

@media screen and (max-width: 430px) {

   h1 {
        width: auto;
    }

    p {
        width: auto;
    }

}