* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #03032b;
    color: #fff;
}

a {
    text-decoration: none;
    margin: 0;
}

h1 {
    width: 265px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

p {
width: 340px;
    position: relative;
    margin: 0 auto 20px;
    text-align: center;
}

button {
    width: 120px;
    height: 50px;
    background: #040418;
    color: #fff;
    font-weight: 500;
    border: 2px solid #007eff;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    transform: translatex(-50%);
    cursor: pointer;
}