* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #03032b;
    color: white;
}

a {
    text-decoration: none;
}

h1 {
    text-align: center;
    width: auto;
    position: relative;
    margin: 20px auto;
}

h2 {
    text-align: center;
    width: auto;
    position: relative;
    margin: 0 auto 20px;
}

p {
    width: 330px;
    position: relative;
    margin: 0 auto 20px;
    text-align: center;
    font-weight: 600;
}

span {
    color: #fcff00;
}

input {
    color: #ffffff;
    background: #070729;
    border: 2px solid #007eff;
    border-radius: 5px;
    position: relative;
    margin-left: 20px;
    padding-left: 5px;
    width: 126px;
}

input::placeholder {
    color: #ffffff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

button {
    position: relative;
    left: 190px;
    top: -21px;
    width: 100px;
    border-radius: 5px;
    color: #fff;
    background: #070729;
    border: 2px solid #007eff;
    cursor: pointer;
}

.imagen {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.painel {
    width: 350px;
    height: 267px;
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background: #040418;
    border: 5px solid #007eff;
    border-radius: 15px;
}

.p2 {
    /* acertou ou errou*/
    width: 310px;
    position: relative;
    margin: 0 auto 20px;
    left: 0;
}

.p3 {
    /* tentativas */
    width: 220px;
    position: relative;
    margin: 20px auto;
    top: 0;
    left: 0;
}

.botao-2 {
    position: relative;
    margin: 0 auto 0 auto;
    top: 0px;
    left: 0px;
    cursor: pointer;
    color: #fff;
    background: #040418;
    border: 2px solid #007eff;
    display: none;
}

.botao-2:active {
    background: #007eff;
}

@media screen and (max-width: 501px) {
    p {
        width: auto;
    }
}

@media screen and (max-width: 365px) {
    .painel {
        width: auto;
    }
}