* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #03032b;
    color: #fff;
}

a {
    text-decoration: none;
}

h1 {
    width: 386px;
    position: relative;
    margin: 20px auto;
    text-align: center;
}

span {
    color: #ff0000;
}

p {
    width: 520px;
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: 600;
}

.logo {
    width: 100px;
    position: absolute;
    top: 0;
}

.painel {
    background: #040418;
    width: 500px;
    height: 500px;
    margin: 20px auto;
    padding: 15px;
    display: flex;
    border: 5px solid #007eff;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
}

.button-start,
.button-restart,
.button-next-level {
    width: 125px;
    height: 50px;
    background: #040418;
    color: #fff;
    font-weight: 600;
    border: 2px solid #007eff;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto;
}

.remaining-attempt {
    margin-bottom: 15px;
}

.button-start:active,
.button-restart:active,
.button-next-level:active {
    background: #007eff;
}

.button-restart,
.button-next-level {
    display: none;
}

#list {
    display: grid;
    grid-template-columns: repeat(4, 95px);
    grid-template-rows: repeat(4, 80px);
    gap: 10px;
    perspective: 1000px;
}

.flip-card {
    width: 85px;
    height: 85px;
    perspective: 1000px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    cursor: pointer;
}

/* Estado "virado" - adicionado via JavaScript */
.flip-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    /* Opcional: bordas arredondadas */
}

.front-face {
    transform: rotateY(180deg);
    /* A face da imagem começa virada para trás */
}

.back-face {
    color: white;
}

.front-face img,
.back-face img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 430px) {

    body {
        height: 110vh;
    }

    h1 {
        width: auto;
    }

    p {
        width: auto;
    }

    .painel {
        width: auto;
    }

    #list {
        grid-template-columns: repeat(4, 90px);
    }

    .flip-card {
        width: auto;
    }

}

@media screen and (max-width: 390px) {

    #list {
        grid-template-columns: repeat(4, 85px);
    }

}

@media screen and (max-width: 375px) {

    #list {
        grid-template-columns: repeat(4, 80px);
    }

}

@media screen and (max-width: 360px) {

    #list {
        grid-template-columns: repeat(4, 75px);
    }

}

@media screen and (max-width: 344px) {

    #list {
        grid-template-columns: repeat(4, 70px);
    }

}