* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #03032b;
    color: #fff;
    max-height: 100vh;
}

h1 {
    width: 345px;
    position: relative;
    margin: 20px auto;
    text-align: center;
    font-weight: 700;
}

p {
    width: 520px;
    position: relative;
    margin: auto;
    text-align: center;
    font-weight: 600;
}

h2 {
    width: 205px;
    margin: 30px auto 0;
    position: relative;
    text-align: center;
    font-weight: 700;
}

button {
    width: 125px;
    height: 50px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: 600;
    color: black;
    cursor: pointer;
}

.img {
    position: absolute;
    top: 0px;
    width: 100px;
}

.button-facil {
    background: #00ff00;
}

.button-medio {
    background: #ffff00;
}

.button-dificil {
    background: #ff0000;
}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 510px) {

    h1 {
        width: 170px;
    }

}

@media screen and (max-width: 430px) {

    p {
        width: 345px;
    }

}

@media screen and (max-width: 344px) {

    h1 {
        width: 170px;
    }

}